body {
    font-family: Arial;
    background: #f2f4f7;
    text-align: center;
}

table {
    margin: auto;
    margin-top: 30px;
    border-collapse: collapse;
    width: 80%;
    background: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #3498db;
    color: white;
}

button {
    padding: 6px 10px;
    background: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.completed {
    background-color: #95a5a6;
}